<%- include('_userheader') %>

<% JSON.stringify(datam) %>
<% JSON.stringify(datadid) %>
<% JSON.stringify(dataemail) %>
<% JSON.stringify(datauid) %>
<% JSON.stringify(datapoint) %>
<% JSON.stringify(datatype) %>

<h1>Device Require List  </h1>
<div class="d-grid gap-2 col-6 mx-auto">
  <button style=" height:60px;width:400px;" class="btn btn-primary active" type="button"><%= datapoint %></button>
</div>

<table class="table table-responsive mx-auto" >
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Mac Address</th>
        <th scope="col">Email</th>
        <th scope="col"> Action </th>
      </tr>
    </thead>
    <tbody>
        <% if(datam){ for(var i=0;i<datam.length;i++){ %>
            <tr>
                <td> <%= (i+1) %> </td>
                <td> <%= datam[i] %> </td>
                <td> <%= dataemail[i] %> </td>

                <td>  
                  <% if(datatype[i]==0){ %> 
                <a href="/user/add/add/<%= datapoint %>/<%= datadid[i] %>" class="btn btn-info"> Add </a>
                   <% } %>
                   <% if(datatype[i]==1){ %> 
                    <a href="/user/add/add/<%= datapoint %>/<%= datadid[i] %>" class="btn btn-warning"> Change </a>
                   <% } %>
                   <% if(datatype[i]==2){ %> 
                    <button type="button" class="btn btn-secondary" disabled> Added!</button>
                    <% } %>
      
                  </td>
            </tr>
        <%  } } %>
    </tbody>
</table>

<div class="text-center"> <a href="/user/add" class="btn btn-danger"> Back </a> <a href="/user/add/register/<%= datapointid %>" class="btn btn-primary">  Refresh </a>   </div>

<%- include ('_userfooter') %>