<%- include('_userheader') %>
<% JSON.stringify(data) %>

<h1> Room </h1>
<div class="container"> <div class="row justify-content-center"> <div class="col-6">

 
<% if(roomdata) { %>
    <% JSON.stringify(roomdata) %>
    <H3> > Room > Edit  </H3>
    <form  action="/user/room/update/<%= roomdata.roid %>" method="post">
        
        <div class="mb-3">
            <label  class="form-label">Site</label>
            <select class="form-control" name="siteId">
                <option>Please select</option>
                <% if(data){ for(var i=0;i<data.length;i++){ %>
                        <option value="<%= data[i].sid %>" <% if(data[i].sid==roomdata.siteid){%> 
                            selected
                        <% } %> 
                        ><%= data[i].sitename %></option>
                <% } } %>
            </select>
        </div>

        <div class="mb-3">
            <label  class="form-label">Room Name</label>
            <input type="text" class="form-control" name="roomname" value="<%= roomdata.roomname %>">
          </div>

        <div class="mb-3">
            <label  class="form-label">Comment</label>
            <input type="text" class="form-control" name="rcomment" value="<%= roomdata.rcomment %>">
        </div> 
        <div class="text-center"> <a href="/user/room" class="btn btn-danger"> Back </a>   <button type="submit" class="btn btn-primary center">Submit</button> </div>
        
      </form>


    <% } else { %>

    <H3> > Room > Add </H3>
    <form  action="/user/room/new" method="post">
        
        <div class="mb-3">
            <label  class="form-label">Site</label>
            <select class="form-control" name="siteId">
                <option>Please select</option>
                <% if(data){ for(var i=0;i<data.length;i++){ %>
                        <option value="<%= data[i].sid %>"><%= data[i].sitename %></option>
                <% } } %>
            </select>
        </div>
        <div class="mb-3">
            <label  class="form-label">Room Name</label>
            <input type="text" class="form-control" name="roomname" >
          </div>

        <div class="mb-3">
            <label  class="form-label">Comment</label>
            <input type="text" class="form-control" name="rcomment" >
        </div> 
        <div class="text-center"> <a href="/user/room" class="btn btn-danger"> Back </a>   <button type="submit" class="btn btn-primary center">Submit</button> </div>
        
      </form>
<% } %>  
</div></div></div>

<%- include ('_userfooter') %>