<%- include('_userheader') %>

<% JSON.stringify(countdata) %>
 

<h1> People Count Device </h1>


    <div class="container text-left">
        <div class="row row-cols-2">
          <div class="col">Hardware Name : <%= data.hwname %></div>
         
          <div class="col">Mac Address : <%= data.mac %></div>
          
          <div class="col">Site : <%= data.sitename %></div>
          
          <div class="col">Add Date : <%= data.adddate.toLocaleDateString() %></div>
          <div class="col">Room : <%= data.roomname %></div>
          <div class="col"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 ">

<% if(countdata!=null){ %>
    <div class="card bg-success text-white mx-auto" style="width: 16rem;"><div class="card-body"> 
        People Count <p> <h3> People Count : <%= countdata  %>
    </h2></p> </div></div> <br>
</div>

    <% }else{ %> 
        <div class="card bg-secondary text-white mx-auto" style="width: 16rem;"><div class="card-body"> 
            Particulate Matter  <p> <h3> Status : OFFLINE 
        </h2></p> </div></div> <br>
    </div>
    <% } %> 
</div>
<BR>
    <div class="container text-center"> <div class="row row-cols-3">
<div class="text-center"> <a href="/user/iot/<%= data.datapoint %>/day/<%= data.uid %>" class="btn btn-info" style=" height:40px;width:200px;"> Day </a>  </div>
<div  class="text-center"> <a href="/user/iot/<%= data.datapoint %>/week/<%= data.uid %>" class="btn btn-info" style=" height:40px;width:200px;"> Week </a>  </div>
<div  class="text-center"> <a href="/user/iot/<%= data.datapoint %>/month/<%= data.uid %>" class="btn btn-info" style=" height:40px;width:200px;"> Month </a>  </div>
    </div>  </div>
<BR>
<div class="text-center"> <a href="/user/owner" class="btn btn-danger"> Back </a>  </div>
        
<%- include ('_userfooter') %>